<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/curriculo.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
</head>
<body>
    
    <style> 
        body {
    background-color: #000000;
    font-family: 'Orbitron';
}
nav {
    background-color: blue;
}
.navegacao {
   list-style-type: none;
   color: yellow;
   text-decoration: none
}
h1, h2, h3 {
    color: yellow;
    margin-left: 10px;
}
footer {
    color: orange;
}

#sumario {
    color: #00ffff;
    text-align: center;
}
@media(max-width: 768px){
    .container{
        flex-direction: column; 
    }
    nav {
        width: 100%;
        position: unset;
        margin-left: 0px;
    }
}
    </style>
    
    <h1estrelas></h1estrelas> 
    
    <nav>
        <h2>Menu Estelar</h2>
        <ul>
            <li>PUC-Rio</li>
            <li>Resumo</li>
            <li>Habilidades</li>
            <li>Educação</li>
            <li>Idiomas</li>
            <li>Versão 2</li>
            <li>Meu currículo</li>
        </ul>
</nav>

<main>
    <img src='img/spiff.jpeg' alt='Foto do astronauta Spiff em ação'>
    <h1>Astronauta Spiff</h1>
    <h2>O melhor Astronauta</h2>
    <h3>Astronauta Intergalático e Comandante de Missão Solo</h3>
    <p>Um intrépido e imaginativo astronauta com vasta experiência em exploração espacial solo e em missões críticas a planetas inóspitos. Proficiente em pilotagem de naves espaciais de construção própria, análise de fenômenos alienígenas e resolução criativa de problemas em ambientes extraterrestres. Possui um histórico comprovado de descobertas notáveis e encontros (nem sempre amigáveis) com formas de vida alienígenas diversas.</p>
    <p>Várias Expedições (Contínuo)</p>
    
    
    <ol>
        <li>Doutorado em Exploração Interdimensional e Defesa Contra Alienígenas Malignos (Honras Imaginárias)</li>
        <li>Mestrado em Viagem Hiperespacial (com honras)</li>
        <li>Universidade Estelar de Calvin — Ciências da Galáxia</li>
        <li>Academia Estelar de Calvin — Diploma em Engenharia Espacial e Aventuras</li>
        <li> Currículo incluiu estudos avançados em: </li>
    </ol>
    
    <ul>
        <li>Teoria da Propulsão a Jato de Papelão</li>
        <li>Linguística Alienígena Intuitiva</li>
        <li>Táticas de Fuga e Evasão Escolar Espacial</li>
        <li>Astronomia de Quintal Avançada</li>
        <li>Sobrevivência com Lancheiras e Suco de Limão</li>
    </ul>
    
</main>

<nav>
    <a href="http://www.puc-rio.br">PUC-Rio</a>
    <a href="meu-curriculo.html">Meu currículo</a>
    <a href="#resumo">Resumo</a>
</nav>

<section id="resumo">
    Um monte de texto aqui...
</section>

<footer>"Nenhum alienígena fica para trás... porque eu desintegro todos!"</footer>

<table>
    <thead>
        <tr>
            <th>Código da disciplina</th>
            <th>Nome da disciplina</th>
            <th>Ano e semestre</th>
            <th>Nome do professor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>CTC4001</td>
            <td>Modelagem e Programação</td>
            <td>2025.1</td>
            <td>Joísa e Felipe</td>
        </tr>
        <tr>
            <td>ENG4021</td>
            <td>Projeto de Software</td>
            <td>2025.2</td>
            <td>Alexandre</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>MAT4001</td>
            <td>Nivelamento de Matemática 1</td>
            <td>2025.1</td>
            <td>Luís</td>
        </tr>
    </tfoot>
</table>

<ul class="navegacao">
    <li><a href="http://www.puc-rio.br">PUC-Rio</a></li>
    <li><a href="#resumo">Resumo</a></li>
    <!-- outros links -->
</ul>
</body>
</html>
